.navbar {
    position: fixed;
    left: 0;
    right: 0;
}
.nav-link {
    text-align: center;
    margin-left: 50px;
}

.header-jumbotron {
  display: flex;
}

.btn-login {
  text-align: right;
}
.button-masuk {
  font-family: 'Montserrat', sans-serif;
  border: none;
  color: white;
  border: 3px white solid;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  margin: 4px 2px;
}

.button-masuk:hover {
  color: #68bfdf;
  background-color: #fff;
}


.card {
    text-align: center;   
}

h3 {
  font-weight: bold;
}

@media (min-width: 992px) { 
    h3 {
      margin-top: 17%;
    }
 }

.ekstrakurikuler{
    display: flex;
    align-items : center;
}

.about {
  display: flex;
  align-items : center;
  justify-content: space-between;
}

.juara {
  display: flex;
  align-items : center;
  justify-content: space-between;
  text-align: center;
}

.box-1 {
  flex: 1;
}

.box-2 {
  flex: 2;
}

.box-3 {
  flex: 3;
}

.box-4 {
  flex: 4;
}

.kiri {
  order: 1;
}

.tengah {
  order: 2;
}

.kanan {
  order: 3;
}

p {
  font-size: 14px;
}

.achievement {
    height: 400px;
    background-color: #ddd;
}